html,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  background: -webkit-gradient(linear, left top, right top, from(#2266cc), to(#8daef5));
}

.box-title{
  width: 20%;
}

.box-map-filmes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.img-filmes{
  width: 200px;
  border: solid 3px #000000; 
}

.box-return-map{
  margin: 1rem;  
}

.classificacao-filmes{
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;     
}

.box-map-series{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.img-series{
  width: 200px;
  border: solid 3px #000000; 
}

.classificacao-serie{
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.box-return-map-series{
  margin: 1rem;  
}



  
  


